@font-face {
	font-family: "Lunacy";
	src: url("../Assets/Fonts/Lunacy.woff") format("woff");
	/*, url
	("Assets/Fonts/Lunacy.woff2") format("woff2");*/
}

.gameInfo {
    font-family: Lunacy;
    font-size: 4em;
    color: #FFBB89;
}

.gameInfoContainer {
    grid-column: 1 / -1;
    display: flex;
    margin: 50px;
    justify-content: space-evenly
}


@media (max-width: 600px) {
	

	.gameInfoContainer {
		flex-direction: column;
		align-items: center;
	}
}	