.cardsContainer {
    display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 10px;
	margin: 50px;
	justify-content: center;
}

p {
	position: fixed;
	align-items: center;
	color: white
}

@media (max-width: 600px) {
	.cardsContainer {
		grid-template-columns: repeat(2, auto);
	}
	
}